body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.6;
	color: $color-grey-dark;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
	}

	&--sub {
		display: block;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
	}
}

.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	-webkit-background-clip: text;
	letter-spacing: 0.2rem;
	color: $cw-orange;
}

.heading-tertiary {
	font-size: $default-font-size;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
